body{
    background-image: url('../images/eng.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color:#ddd6cc;
    margin: 20px;
}
.about{
    color: #ddd6cc;
    font-size: 1.2em;
    
}
.biblioteka{
    opacity: 0.4;
    border-radius: 30px;
}
#absolute {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:[footer-height];
}
#journey{
    
    height:150px;
    weight:150px;
    background:transparent; 
    opacity: 0.7;
    color: #ddd6cc;
    border-radius: 50px;
    border-width: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10%;
}
.index-col{
    background-color: #947a57 ;
    opacity: 0.6;
    margin-right: 5px;
}

.index-icons{
    margin-top: 50px;
}

.index-col{
    background-color: #947a57 ;
    opacity: 0.6;
    margin-right: 5px;
}

.index-icons{
    margin-bottom: 5px;
}
ul{
    color: #ddd6cc;
    font-size: 1.2em;
    background-color: transparent;
    opacity: 0.8;
}

.footer-icon{
    margin-right: 10px;
}

.paginator{
    color:white;
    text-align: center;

}
.container{
    min-height: 100vh;
}
.sticky-footer{
    position: sticky;
    top: 100%;
}