{% extends 'base.html' %}
{% load static %}

{% block title %} About author {% endblock %}

{% block heading %}
<h1 class="text-center">About school and leading teacher</h1>
{% endblock %}

{% block content %}
<br>
<div class='row'>

    <div class="col">
        <p class="about">If you are looking for a school where you will learn English language, you are in the right place.
            Rawenclaw Academy is a school with awesome teachers and programs that fit every student. 
            The school is located near Belgrade, and classes can be held both online and in the school.
        </p>
        
        <p class="about">Our leading teacher graduated on the Faculty of Philology of Uneversity of Belgrade.
            With expirience in teaching of over 5 years, she'll be leading you through your learning process.
        She's reliable, communicative and patient</p>
            <center><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in fa-3x about"></i></a></center>
    </div>
    
    <div class="col">
        <img class="biblioteka" src="{% static 'images/biblioteka.jpg' %}" alt="" height="400px" weight="200px">
    </div>
</div>
    
{% endblock %}