{% extends 'base.html' %}
{% load static %}

{% block title %} Add Post {% endblock %}

{% block heading %}
<h1 class="text-center">Add Post</h1>
{% endblock %}

{% block content %}
<a href="{% url 'blog' %}" class="btn btn-dark">Back</a> <hr style="color:white">

<div class="row">
    <div class="col">
        <form method="POST" enctype="multipart/form-data" class="form-control" style="opacity: 0.8">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p|safe}}
            <input type="submit">
        </form>
        
    </div>
</div>


{% endblock %}