{% extends 'base.html' %}

{% block title %} Blog {% endblock %}

{% block heading %}
<h1 class="text-center">Teacher's blog</h1>
{% endblock %}

{% block content %}
    <a href="{% url 'addPost' %}" class="btn btn-dark">Add POST</a>
   <hr style="color:white">

   <ul class="list-group">
   {% for post in blogPosts %}
       
   <li class="list-group-item list-group-item-dark"><b><a href="{% url 'details' post.id %}">{{post.title}}</a></b> <br> 
        <em>by - {{post.firstName}}</em> <br>
        <em>summary</em> - {{post.summary}}</li> 
   
   
    
    
   {% endfor %}
    </ul>
{% endblock %}