{% extends 'base.html' %}

{% block title %} Programs {% endblock %}

{% block heading %}
<h1 class="text-center" style="color:#ddd6cc">English courses</h1>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col">
        <ul class="list-group text-center">
            <li class="list-group-item list-group-item-dark">Individual or semi-individual courses for school children</li>
            <li class="list-group-item list-group-item-dark">Group classes for entrance exam preparation</li>
            <li class="list-group-item list-group-item-dark">Speaking courses for adult learners (from A1 to C2)</li>
            <li class="list-group-item list-group-item-dark">Cambridge exam preparations (KET, PET, FCE, CAE, CPE)</li>
            <li class="list-group-item list-group-item-dark">Business English courses</li>
            <li class="list-group-item list-group-item-dark">Tailor-made courses</li>
        </ul>
    </div>
</div>

{% endblock %}